@import '../../global-style/index.scss';

// font-size
$font-size: 14px;
$font-size-errorList: 12px;
// icon width & height
$icon-width: 20px;
$icon-height: 20px;
// padding
$padding-topRightBottomLeft-notification: 5px 10px;
$padding-topRightBottomLeft-container: 0.5rem 0;
// margin
$margin-topRightBottomLeft-errorList: 5px 0px 5px 25px;
$margin-right-img: 15px;
$margin-bottom-title: 6px;

.notification-container {
  padding: $padding-topRightBottomLeft-container;
  box-sizing: border-box;
  display: flex;
  z-index: 999999;
  font-family: $font-type-01;
}

.top-left {
  justify-content: flex-start;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}
.top-right {
  justify-content: flex-end;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.bottom-left {
  margin-top: 85vh;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}
.bottom-right {
  margin-top: 85vh;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.notification {
  overflow: hidden;
  opacity: 0.9;
  background-color: $info-color;
  width: 100%;
  padding: $padding-topRightBottomLeft-notification;
}

.notification:hover {
  cursor: pointer;
}

.notification-title {
  font-size: $font-size;
  margin-top: 0;
  margin-bottom: $margin-bottom-title;
}
.notification-title a {
  margin-left: 5px;
  color: inherit;
}

.notification-errorList {
  margin: $margin-topRightBottomLeft-errorList;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size-errorList;
}

.notification-image {
  float: left;
  margin-right: $margin-right-img;
}

.notification-image img {
  width: $icon-width;
  height: $icon-height;
}

.close-button {
  float: right;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.success {
  background-color: $success-color;
  color: $interactive-txt-color;
}

.error {
  background-color: $error-bg-color;
  color: $interactive-txt-color;
}

.info {
  background-color: $info-color;
  color: $interactive-txt-color;
}

.warning {
  background-color: $warning-color;
  color: $primary-txt-color;
}
.formError {
  background-color: $form-error-bg-color;
  color: $error-txt-color;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
