@import "src/components/global-style/color.scss";
@import "src/components/global-style/font-fmaily.scss";
@import "src/components/global-style/paddings-border.scss";
@import "src/components/global-style/typography.scss";

@mixin transparentButton {
  background-color: transparent;
  color: $secondary-txt-color;
}

.btn {
  border-radius: $border-radius-03;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: $primary-intr-color;
  font-size: $btn-txt-fontSize-03;
}

.btn-primary {
  background-color: $primary-intr-color;
}

.btn-secondary {
  border: $border-radius-01 solid $secondary-txt-color;
  @include transparentButton;
}
.btn-textOnly {
  @include transparentButton;
}

.btn-small {
  padding: $padding-01 $padding-03;
  font-size: $btn-txt-fontSize-01;
}

.btn-medium {
  padding: $padding-02 $padding-03;
  font-size: $btn-txt-fontSize-02;
}

.btn-large {
  padding: $padding-04 $padding-05;
  font-size: $btn-txt-fontSize-03;
}
