@font-face {
    font-family: "OpenSansRegular";
    src: local("OpenSansRegular"), url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

// font-family
$font-type-01: "OpenSansRegular";
