// line height
$code-01-line-height: 16px;
$caption-01-line-height: 16px;
$label-01-line-height: 16px;
$helper-text-01-line-height: 16px;
$body-short-line-height: 22px;
$body-long-line-height: 24px;
$heading-01-line-height: 18px;
$heading-02-line-height: 22px;
$heading-03-line-height: 26px;
$heading-04-line-height: 36px;
$heading-05-line-height: 40px;
$heading-06-line-height: 50px;
$heading-07-line-height: 64px;
// font Size
$code-01-size: 12px;
$caption-01-size: 14px;
$label-01-size: 12px;
$helper-text-01-size: 12px;
$body-short-size: 16px;
$body-long-size: 16px;
$heading-01-size: 14px;
$heading-02-size: 16px;
$heading-03-size: 20px;
$heading-04-size: 28px;
$heading-05-size: 32px;
$heading-06-size: 42px;
$heading-07-size: 54px;
// font weight
$weight-300: 300;
$weight-400: 400;
$weight-600: 600;
// letter spacing
$letter-spacing-0: 0px;
$letter-spacing-0-16: 0.16px;
$letter-spacing-0-32: 0.32px;
