$default-page-bg: #ffffff;
$primary-center-bg: #f4f4f4;
$primary-page-bg: #ffffff;
$high-contrast-bg: #393939;
$disabled-bg-fields: #f4f4f4;
//contrast & border colors
$aa-contrast: #0561A7;
$subtle-border: #e0e0e0;
$med-contrast-border: #8d8d8d;
$high-contrast-border: #161616;
$focus-border: #0561A7;
// text and interactive colors
$primary-intr-color: #0561A7;
$secondary-intr-color: #0561A7;
$primary-txt-color: #161616;
$secondary-txt-color: #393939;
$placeholder-txt-color: #a8a8a8;
$interactive-txt-color: #ffffff;
$tertiary-txt-color: #6f6f6f;
$error-txt-color:  #da1e28;
$inverse-txt-color: #ffffff;
// icon and link oclors
$primary-lnk-color: #0f62fe;
$visited-lnk-color: #8a3ffc;
$primary-icn-color: #161616;
$secondary-icn-color: #525252;
$interactive-icn-color: #ffffff;
$default-input-uibg2: #f4f4f4;
// interactive clolors
$interactive-blue: #002d9c;
$interactive-gray: #c6c6c6;
$interactive-hover-01: #0353e9;
$interactive-hover-02: #4c4c4c;
$interactive-hover-03: #0353e9;
$interactve-txt-hover-01: #067FDB;
$interactive-active-01: #002d9c;
$interactive-active-02: #6f6f6f;
$interactive-active-03: #002d9c;
$ui-active-color: #c6c6c6;
$ui-selected-color: #e0e0e0;
$ui-disabled-01: #c6c6c6;
$ui-disabled-02: #8d8d8d;
$ui-hover-01: #e5e5e5;
$row-hover-color: #e5e5e5;
$row-selected-hover:#cacaca;
$error-color: #da1e28;
$success-color: #24a148;
$warning-color: #f1c21b;
$info-color: #067FDB;
$scroll-bar-color: #c6c6c6;
$page-division-color: #a8a8a8;
$danger-active-color: #750e13;
$danger-hover-color: #ba1b23;