//border
$border-radius-01: 1px;
$border-radius-02: 2px;
$border-radius-03: 3px;
$border-radius-04: 15px;
//paddings
$padding-01: 6px;
$padding-02: 10px;
$padding-03: 12px;
$padding-04: 14px;
$padding-05: 16px;
